.header-bg {
  background: var(--bg-color);
}

.reverse-color {
  color: var(--primary-color);
}

.reverse-color:hover {
  color: var(--second-text-color);
}

.ml-lg {
  margin-right: 2.875rem;
}

.mobile-menu {
  display: initial;
  z-index: 3;
}

.mobile-menu-content {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  padding-top: 1.5rem;
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
}

.mobile-menu-content ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.mobile-menu-content a {
  font-size: var(--fs-lg);
}

header nav > img {
  width: 12.5rem;
  height: auto;
  object-fit: contain;
  display: block;
}

header nav {
  min-height: 4.5rem;
}

header nav ul {
  gap: 1.5rem;
}

@media (width >= 1280px) {
  .header-bg {
    background: var(--bg-color);
  }

  header {
    position: relative;
    z-index: 1;
  }

  nav > img {
    display: initial;
    width: 14.5rem;
    height: auto;
  }

  header nav {
    min-height: 5rem;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-menu-content {
    display: none;
  }
}
